header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .netflixLogo img {  
    height: 35px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  
  
  .main-nav {
    grid-area: mn;
    padding: 10px 30px 0 20px;
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
    padding-right: 10px;
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 10px 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }
.fa-search{
    padding-right: 10px;
}

.fa-bell{
    padding-right: 10px;
}